body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

    background-color: black;
    color: whitesmoke;

    user-select: none;
}


#topBar {
    width: 50%;
    height: fit-content;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vw;
    cursor: pointer;
}

#contentBox {
    width: 50%;
    height: 500px;
}