/* Custom Fonts */
@font-face {
    font-family: Avenir;
    src: url(../../../assets/fonts/su/avenir.otf);
}

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Avenir;
    color: whitesmoke;
    background-color: black;
    user-select: none;
}
#main-container {
    transition: transform 0.5s;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;

    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
}

:root {
  --arrowBox: calc(100vw/10);
}

/* Navigation */
.arrowBox {
    position: absolute;
    background-color: #3D0E62;
    opacity: 0.2;
    box-shadow: 0 0 100px #221139 inset;
}
.hArrow {
    height: calc(100vh - 65px*2 - var(--arrowBox));
    width: calc(65px + var(--arrowBox));
    max-width: calc(65px + 100px);

    top: calc(50vh + var(--arrowBox)/2);
    transform: translateY(-50%);

    transition: opacity 0.2s ease;
}
#leftArrow {
    left: 0;
    border-right: 5px solid #221139;
}
#rightArrow {
    left: calc(100vw - (65px + var(--arrowBox)));
    border-left: 5px solid #221139;
}
#topArrow {
    height: calc(65px + var(--arrowBox));
    max-height: calc(65px + 100px);
    width: 100vw;

    top: 0;

    border-bottom: 5px solid #221139;
}

/* Page Borders */
.border-1 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border: 25px solid #520998;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0 0 25px 8px rgba(82, 9, 152, 1) inset;
  pointer-events: none;
}

.border-2 {
  position: absolute;
  height: calc(100vh - 50px); /* shrink by twice the border width */
  width: calc(100vw - 50px);
  border: 10px solid #500C7F;
  box-sizing: border-box;
  box-shadow: 0 0 18px 5px rgba(80, 12, 127, 1) inset;
  pointer-events: none;
}

.border-3 {
  position: absolute;
  height: calc(100vh - 70px); /* 50 + 20 */
  width: calc(100vw - 70px);
  border: 20px solid #3D0E62;
  box-sizing: border-box;
  box-shadow: 0 0 15px 4px rgba(61, 14, 98, 1) inset;
  pointer-events: none;
}

.border-4 {
  position: absolute;
  height: calc(100vh - 110px); /* 50 + 70 */
  width: calc(100vw - 110px);
  border: 10px solid #221139;
  box-sizing: border-box;
  box-shadow: 0 0 12px 3px rgba(34, 17, 57, 1) inset;
  pointer-events: none;
}



/* Content */
#topBar {
    width: 50%;
    height: fit-content;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vw;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
}


@media only screen and (min-width: 1000px) {
    
    .hArrow {
        height: calc(100vh - 65px*2 - 100px);
        top: calc(50vh + 100px/2);
    }
    #rightArrow {
        left: calc(100vw - (65px + 100px));
    }
}