* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body {
    transition: all 2s;
}

.arrowBox {
    position: absolute;
    border: 5px solid purple;
}
.hArrow {
    height: 100vh;
    width: 200px;
}
#leftArrow {
    left: -200px;
    top: 0;
}
#rightArrow {
    right: -200px;
    top: 0;
}
#topArrow {
    height: 200px;
    width: 100vw;

    top: -200px;
    left: 0;
}