#bg {
    background-image: url(../../../assets/images/su/hub1.jpg);
}



#contentBox {
    width: 50%;
    height: fit-content;
    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;

    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
}

#menuBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 100%;
}
.option {
    width: 100%;
    font-size: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    transition: all 0.2s ease;
    cursor: pointer;

    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
}
.option:hover {
    transform: scale(1.05);
    box-shadow: 
        0 0 5px purple,
        0 0 5px white;
}

#taskBox {
    width: 70%;
    height: 100%;

    padding: 20px;

    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
}