/* === Global Styles === */
html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* === Background Image === */
#bg {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-image: url(../../../assets/images/background/user.webp);
    background-position: center;
    background-size: cover;

    z-index: -1;
    filter: blur(0.5px);
}
/* === Header Box === */
#header-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;

    text-align: center;

    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
    background-color: rgba(1, 1, 1, 0.6);
}

/* === Stat Boxes === */
#main-container {
    gap: 0;
    width: 50vw;
}

#contentBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat-box {
    padding: 20px;
    text-align: center;

    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
    background-color: rgba(1, 1, 1, 0.6);
}

#stat-box1 {
    width: 75%;
    height: 18vh;
    margin-bottom: 20px;
}

#stat-box2 {
    width: 100%;
    height: 37vh;
}
