/* === Global Styles === */
html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* === Background Image === */
#bg {
    background-image: url(../../../assets/images/su/user.jpg);
}


#topBar {
    margin-top: 50px;
}


/* === Stat Boxes === */
#contentBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contentBox img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}
.stat-box {
    width: 50%;
    padding: 20px;
    text-align: center;

    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
}

#stat-box1 {
    height: fit-content;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#userStats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.userItems {
    height: 100%;
    width: 100%;
}
.bar {
    display: flex;
    width: 100%;
    height: 20px;

    border: 1px solid white;
    border-radius: 10px;

    overflow: hidden;
}
.block {
    width: 100%;
    height: 100%;

    border-right: 0.5px dotted white;
}
.blockFill {
    background: white;
}


/* === Task Boxes === */
#task-box {
    height: fit-content;
    max-height: 250px;
    overflow-y: hidden;
}
#taskOuter {
    height: 100%;
    width: 200%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.taskItems {
    width: 100%;
    height: 100%;
    padding: 5px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    opacity: 0;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
}
.taskTop, .taskBottom {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.taskTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    height: 60%;
    width: 100%;
    padding: 0 10px;
}
.topContent {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.taskBottom {
    height: 20%;
}