/* === Global Styles === */
html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* === Background Image === */
#bg {
    background-image: url(../../../assets/images/su/user.jpg);
}

/* === Stat Boxes === */
#contentBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat-box {
    width: 50%;
    padding: 20px;
    text-align: center;

    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
}

#stat-box1 {
    height: fit-content;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#userStats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.userItems {
    height: 100%;
    width: 100%;
}
#xpBar{
    display: flex;
    width: 100%;
    height: 20px;

    border: 1px solid white;
    border-radius: 10px;

    overflow: hidden;
}
.xpBlock {
    width: 100%;
    height: 100%;

    border-right: 0.5px dotted white;
}
.xpFill {
    background: white;
    cursor:progress;
}

#stat-box2 {
    height: fit-content;
}
