/* === Global Styles === */
html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* === Background Image === */
#bg {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-image: url(../../../assets/images/background/user.webp);
    background-position: center;
    background-size: cover;

    z-index: -1;
    filter: blur(2px);
}

/* === Stat Boxes === */
#contentBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat-box {
    width: 50%;
    padding: 20px;
    text-align: center;

    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
    background-color: rgba(1, 1, 1, 0.6);
}

#stat-box1 {
    height: fit-content;
    margin-bottom: 20px;

}
#userStats {
    display: flex;
    justify-content: center;
    align-items: center;
}
.userItems {
    height: 100%;
    width: 100%;
}
#xpBar{
    margin-top: 15px;
}

#stat-box2 {
    height: fit-content;
}
