html, body {
  margin: 0; /* Prevent default margin */
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  box-sizing: border-box;
}
img {
  position: absolute;
  filter: blur(0.5);
  z-index: -1;
}

.main-container {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
  background-color: rgba(1, 1, 1, 0.6);
  padding: 30px;
  width: 50vw;
  z-index: 999;
}

.header-box {
  width: 200px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
  background-color: rgba(1, 1, 1, 0.6);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 30px;
}

.stat-box1 {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
  background-color: rgba(1, 1, 1, 0.6);
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;      
}

.stat-box2 {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top right, #615BBE, #9F9DA2);
  background-color: rgba(1, 1, 1, 0.6);
  padding: 20px;
  height: 126px;
}
