/* Window Specs */

.appMain {
    color: black;
    text-shadow: none;
}

/* page content */
#content {
    background-image: url(../../../assets/images/background/fire_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}