body { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



main, footer {
    opacity: 0;
}



main {
    height: 95vh;
    width: 100vw;

    position: relative;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, minmax(0, 1fr)); /* Ensures uniform row height */

    padding: 5px;

    color: whitesmoke;
    text-shadow: 
        0 0 2px black,
        0 0 2px black,
        1px 1.5px 2px rgba(0, 0, 0, 0.5);

    cursor: url("../../assets/cursor/cursor.cur");
}


.filled:hover, 
.filled:active, 
.activeBox:hover, 
.dk-grid-box img:hover, 
.dk-grid-box p:hover {
    cursor: url("../../assets/cursor/pointy.cur"), auto;
}

.search-container {
      background-color: #d4d0c8;
      border: 2px solid #f0e3e3;
      box-shadow: inset 1px 1px white, inset -1px -1px #404040;
      width: 100%;
      padding: 4px;
      display: flex;
      align-items: center;
    }

.search-container input {
    width: 100%;
}