body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  overflow: hidden; 
background-image: url('/assets/images/browser/gspot/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#appMain {
  width: 100%;
  height: 100%; 
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
  position: relative;
}


.top-half {
  height: 83.3%; 
}
