#appMain {
  width: 100%;
  height: 100%;

  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
  position: relative;

  background-image: url('/assets/images/browser/gspot.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  
}


.top-half {
  height: 83.3%; 
}
