* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    font-family: Tahoma, "Segoe UI", Geneva, sans-serif;

    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}


main {
    height: 95vh;
    width: 100vw;
    background-color: rgb(62, 200, 255);

    position: relative;
}