@font-face {
    font-family: "Windows XP Tahoma";
    src: url(../../assets/fonts/tahoma.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    font-family: "Windows XP Tahoma";
    font-size: 23px;

    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: white;

    background-color: black;
}

/* Drag and drop styles */
[draggable="true"] {
    cursor: grab;
}

[draggable="true"]:active {
    cursor: grabbing;
}