footer {
    display: flex;
    height: 5vh;
    width: 100vw;

    background-image: linear-gradient(to top, #1C59D1, #1C59D1, #2763DC, #2763DC, #5186D5);
    position: relative;
    user-select: none;

    color: whitesmoke;
    text-shadow: 
        0 0 2px black,
        0 0 1px black;


    z-index: 20;
}
footer div {
    height: 100%;
}



#smButton {
    width: 180px;
    background-image: linear-gradient(to top, #459855, #3D9D47, #3D9D47, #459855, #87B782);

    border-top-right-radius: 20px 50px;
    border-bottom-right-radius: 5px 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#smButton:hover {
    background-image: linear-gradient(to top, #479c58, #43ad4e, #43ad4e, #48a159, #87B782);
    cursor: pointer;
}
#smButton:active { background-image: linear-gradient(to top, #186414, #239b20, #239b20, #148717, #186414); }

#smButton * {
    max-height: 75%;
}
#smButton img {
    opacity: 0.2;
    transition: opacity 0.2s;
}
#smButton img:hover {
    opacity: 0.8;
}
#smButton p {
    letter-spacing: 1px;
    font-family: Tahoma, 'Segoe UI';
    font-size: 22px;

    text-shadow: 
        0 0 2px black,
        0 0 1px black,
        0 2px 5px rgba(0, 0, 0, 0.7);
}



#tbIconBox {
    width: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tbIcons {
    height: 80%;
    aspect-ratio: 1 / 1;

    border: 5px solid transparent;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tbIcons:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#tbIcon1 {
    background-image: url(../../assets/images/icons/16x/notepad.png);
}
#tbIcon2 {
    background-image: url(../../assets/images/icons/16x/files.png);
}



#tbRightBorder {
    position: absolute;
    right: 120px;

    height: 100%;
    border-right: 2px solid #034db0;
}

#tbTimeBox {
    position: absolute;
    right: 0;

    width: 120px;
    height: 100%;

    background-image: linear-gradient(to top, #0599e8, #008cec, #008cec, #0599e8, #06aef9);
    border-left: 2px solid #0bc1f1;

    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    user-select: none;
}
#tbTimeBox:hover {
    background-image: linear-gradient(to top, #0fa1f0, #0a9cfd, #0a9cfd, #0fa1f0, #06aef9);
    cursor: pointer;
}
#tbTimeBox:active { background-image: linear-gradient(to top, #0599e8, #008cec, #008cec, #0599e8, #06aef9); }



/* Start Menu */
#smBox {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 380px;
    height: 450px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.400);

    z-index: 200;
    overflow: hidden;
    user-select: none;
}


#smHeader {
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to top, #488fee, #3181e4, #1b6dd3, #0d5eca, #0d5eca, #1c6dd6, #64a2e7);

    display: flex;
    align-items: center;
}
#smHeader img {
    max-height: 100%;
    max-width: 100px;
    margin-left: 10px;

    border: 3px solid white;
    background-color: black;
    border-radius: 5px;
}
#smHeader p {
    font-family: Tahoma, 'Segoe UI';
    font-size: 20px;
    text-shadow: 
        3px 2px 3px rgba(0, 0, 0, 0.5);

    margin-left: 10px;
}


#smMain {
    width: 100%;
    height: 68%;

    background-color: white;
    border: 2px solid #488fee;
    border-top: 1px solid #0c4cd1;
    border-bottom: 1px solid #0c4cd1;

    text-shadow: none;
    display: flex;
}

.smHalf {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
.smLeftItem, .smRightItem {
    height: 20%;
    display: flex;
    align-items: center;
    padding: 5px;
}
.smLeftItem:hover, .smRightItem:hover {
    background-color: #2b68c3;
    color: whitesmoke;
    cursor: pointer;
}
.smItemImg {
    max-height: 100%;
    max-width: 30%;

    margin-right: 10px;
}

.smLeftItem {
    color: black;
}

#smRightHalf {
    border-left: 2px solid #aec2d9;
    background-color: #d3e5fb;
    color: #122969;
}


#smFooter {
    width: 100%;
    height: 12%;
    background-image: linear-gradient(to bottom, #488fee, #3584e3, #2878e1, #176cd9, #0f64d1);
    
    display: flex;
    position: relative;

    text-shadow: none;
}
#smFooter div {
    height: 100%;
}
#smFooterRight {
    position: absolute;
    right: 0;
    width: 70%;

    display: flex;

}

.powerOptionBox {
    width: fit-content;
    padding: 10px;

    display: flex;
    align-items: center;
}
.powerOptionBox img {
    max-width: 100%;
    max-height: 100%;

    padding: 5px;
    margin-right: 8px;

    border: 2px solid white;
    border-radius: 5px;

    cursor: pointer;
}
#restartBtn       { background-image: linear-gradient(to top, #2c7f38, #3c983d, #3c983d, #3c983d, #8fcd8f); }
#restartBtn:hover { background-image: linear-gradient(to top, #2c7f38, #49b64b, #49b64b, #49b64b, #8fcd8f); }
#restartBtn:active{ background-image: linear-gradient(to top, #2c7f38, #3c983d, #3c983d, #3c983d, #8fcd8f); }
#powerBtn         { background-image: linear-gradient(to top, #d85c52, #f86e5b, #f86e5b, #f86e5b, #fbae9d); }
#powerBtn:hover   { background-image: linear-gradient(to top, #d85c52, #f88677, #f88677, #f88677, #fbae9d); }
#powerBtn:active  { background-image: linear-gradient(to top, #d85c52, #f86e5b, #f86e5b, #f86e5b, #fbae9d); }


/* Shut Down */
.sdBar {
    position: absolute;
    left: 0;

    width: 100vw;
    height: 20vh;
}
#sdGraphic {
    position: absolute;
    right: 6vw;
    top: 50vh;
    transform: translateY(-50%);;

    height: 80%;
}
#sdTopBar {
    top: 0;
    background-color: #003199;
}
#sdTopBorder {
    position: absolute;
    top: 20vh;

    background-image: linear-gradient(to right, #5583da, #75a0e6, #bbd7ff, #bcd5ff, #acccfa, #8fb5f2, #86abed, #5e8ade, #4673d4);
    height: 5px;
    width: 100vw;
}
#sdBottomBar {
    bottom: 0;
    background-image: linear-gradient(to right, #2c308b, #003199);
}
#sdBottomBorder {
    background-image: linear-gradient(to right, #062d7c, #896b5a, #bb815a, #a2775f, #746367, #484f6e, #1f3e7c, #092f7d, #003199);
    height: 5px;
    width: 100vw;
}