footer {
    display: flex;
    height: 5vh;
    width: 100vw;

    background-image: linear-gradient(to top, #1C59D1, #1C59D1, #2763DC, #2763DC, #5186D5);
    position: relative;
    user-select: none;

    color: whitesmoke;
    text-shadow: 
        0 0 2px black,
        0 0 1px black;
}
footer div {
    height: 100%;
}



#smButton {
    width: 180px;
    background-image: linear-gradient(to top, #459855, #3D9D47, #3D9D47, #459855, #87B782);

    border-top-right-radius: 20px 50px;
    border-bottom-right-radius: 5px 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#smButton:hover {
    background-image: linear-gradient(to top, #479c58, #43ad4e, #43ad4e, #48a159, #87B782);
    cursor: pointer;
}
#smButton:active { background-image: linear-gradient(to top, #459855, #3D9D47, #3D9D47, #459855, #87B782); }

#smButton * {
    max-height: 75%;
}
#smButton img {
    opacity: 0.2;
    transition: opacity 0.2s;
}
#smButton img:hover {
    opacity: 0.8;
}
#smButton p {
    letter-spacing: 1px;
    font-family: Tahoma, 'Segoe UI';
    font-size: 22px;

    text-shadow: 
        0 0 2px black,
        0 0 1px black,
        0 2px 5px rgba(0, 0, 0, 0.7);
}



#tbIconBox {
    width: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tbIcons {
    height: 80%;
    aspect-ratio: 1 / 1;

    border: 5px solid transparent;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tbIcons:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#tbIcon1 {
    background-image: url(../../assets/images/icons/16x/wiggleSearch.png);
}
#tbIcon2 {
    background-image: url(../../assets/images/icons/16x/files.png);
}



#tbRightBorder {
    position: absolute;
    right: 120px;

    height: 100%;
    border-right: 2px solid #034db0;
}

#tbTimeBox {
    position: absolute;
    right: 0;

    width: 120px;
    height: 100%;

    background-image: linear-gradient(to top, #0599e8, #008cec, #008cec, #0599e8, #06aef9);
    border-left: 2px solid #0bc1f1;

    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    user-select: none;
}
#tbTimeBox:hover {
    background-image: linear-gradient(to top, #0fa1f0, #0a9cfd, #0a9cfd, #0fa1f0, #06aef9);
    cursor: pointer;
}
#tbTimeBox:active { background-image: linear-gradient(to top, #0599e8, #008cec, #008cec, #0599e8, #06aef9); }