.appWindow {
    position: absolute;

    display: flex;
    flex-direction: column;

    z-index: 5;
    background-color: #efecde;
    overflow: hidden;

    transition: all 0.1s;
}





.appHeader {
    width: 100%;
    height: 40px;

    position: relative;
    background-image: linear-gradient(to top, #005ef9, #0055e5, #0055e5, #3790fd);

    display: flex;
    align-items: center;

    user-select: none;
}

.appName {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.selectBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 160px;
    height: 100%;
}
.selectBtns {
    height: 30px;
    width: 30px;

    border: 2px solid white;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;

    background-image: linear-gradient(to bottom right, #96B4F9, #6794fa, #4176F5, #2857c6, #225DE5);
}
.selectBtns:disabled {

}
.appClose {
    background-image: linear-gradient(to bottom right, #efa693, #e07358, #e3523f, #d64418, #d13707);
}



.appMain {
    width: 100%;
    height: 100%;

    border-color: #005ef9;
    border-style: solid;
    border-top: 0;

    display: flex;
    flex-direction: column;
}
.appMainTopBar {
    display: flex;

    border-top: 2px solid #0c4cd1;
    border-bottom: 2px solid #dcd6c2;
}
.appMainBottomBar {
    border-top: 2px solid #faf9f7;
    height: 30px;
}

.appMainMidBar {
    display: grid;
    height: 100%;

    background-color: #ffffff;
    border-top: 2px solid #faf9f7;
    border-bottom: 2px solid #dcd6c2;
}