/* Application Window */
.appWindow {
    position: absolute;

    display: flex;
    flex-direction: column;

    z-index: 5;
    background-color: #efecde;
    overflow: hidden;

    transition: all 0.1s;
}



.appHeader {
    width: 100%;
    height: 40px;

    position: relative;
    background-image: linear-gradient(to top, #005ef9, #0055e5, #0055e5, #3790fd);

    display: flex;
    align-items: center;

    user-select: none;
}

.appIcon {
    height: 70%;
    pointer-events: none;
}
.appName {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.selectBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 160px;
    height: 100%;
}
.selectBtns {
    height: 30px;
    width: 30px;

    border: 2px solid white;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;

    cursor: pointer;
}
.screenImg {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}
.appClose {
    background-image: linear-gradient(to bottom right, #efa693, #e07358, #e3523f, #d64418, #d13707);
}



.appMain {
    width: 100%;
    height: 100%;

    border-color: #005ef9;
    border-style: solid;
    border-top: 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.appMainTopBar {
    display: flex;
    position: relative;

    height: 50px;

    border-top: 2px solid #0c4cd1;
    border-bottom: 2px solid #dcd6c2;
}
.appOS {
    height: 100%;
    position: absolute;
    right: 0;
    background-color: white;

    border-left: 2px solid #e2e2d6;
    padding: 2px;

    transition: background-color 0.1s;
    user-select: none;
}
.appOS:hover {
    background-color: black;
}
.appMainBottomBar {
    border-top: 2px solid #faf9f7;
    height: 30px;
}

.appMainMidBar {
    position: relative;
    height: 100%;

    background-color: #ffffff;

    padding: 0;

    overflow: hidden;
}


/* Files */
.appender {
    height: 100%;
    width: 100%;
}

.filesBox {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    padding: 5px;
}
.filesItem {
    height: 120px;
    width: 100px;

    padding: 10px;
    border: 1px solid transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;
}
.filesItem:hover {
    background-color: #0054e525;
    border: 1px solid transparent;
}
.filesItem:active {
    background-color: #0054e549;
    border: 1px solid #0141af54;
}
.filesItemSelected {
    background-color: #0054e538;
    border: 1px solid #0141af54;
}
.filesItemSelected:hover {
    background-color: #0054e538;
    border: 1px solid #0141af54;
}
.filesItem * {
    max-width: 100%;
    max-height: 80%;
}
.filesItem img {
    padding-bottom: 5px;
    pointer-events: none;
    max-width: 80%;
}
.filesItem p {
    text-overflow: ellipsis;
    text-align: center;
}
.appInput {
    width: 100%;
}


#content {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
}

/* Notes */
.notesField {
    width: 100%;
    height: 100%;

    border: none;
    padding: 5px;
    resize: none;
    outline: 0px none transparent;

    font-family: "Windows XP Tahoma";
    font-size: 30px;
}