rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{username} {
      allow read, write: if true; // open access for now
    }

    match /game_saves/{userId} {
      allow read, write: if true;
    }
  }
}
