/* Startup */

.powerOn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 501;

    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#powerOnBtn {
    background-image: linear-gradient(to top, #d85c52, #f86e5b, #f86e5b, #f86e5b, #fbae9d); 
    width: 100px;
    height: 100px;

    border: 2px solid white;
    border-radius: 5px;

    cursor: pointer;
}
#powerOnBtn:hover   { background-image: linear-gradient(to top, #d85c52, #f88677, #f88677, #f88677, #fbae9d); }
#powerOnBtn:active  { background-image: linear-gradient(to top, #d85c52, #f86e5b, #f86e5b, #f86e5b, #fbae9d); }

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    visibility: hidden;
    transition: opacity 0.75s ease, visibility 0.75s ease;
    z-index: 500;

    background-image: url("../../assets/gifs/WindowsXPStartupandShutdown-ezgif.com-video-to-gif-converter copy.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: none;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}





/* Shutdown */

.sdBar {
    position: absolute;
    left: 0;

    width: 100vw;
    height: 20vh;
}
#sdGraphic {
    position: absolute;
    right: 6vw;
    top: 50vh;
    transform: translateY(-50%);;

    height: 80%;
}
#sdTopBar {
    top: 0;
    background-color: #003199;
    z-index: 50;
}
#sdTopBorder {
    position: absolute;
    top: 20vh;

    background-image: linear-gradient(to right, #5583da, #75a0e6, #bbd7ff, #bcd5ff, #acccfa, #8fb5f2, #86abed, #5e8ade, #4673d4);
    height: 5px;
    width: 100vw;
}
#sdBottomBar {
    bottom: 0;
    background-image: linear-gradient(to right, #2c308b, #003199);
    z-index: 50;
}
#sdBottomBorder {
    background-image: linear-gradient(to right, #062d7c, #896b5a, #bb815a, #a2775f, #746367, #484f6e, #1f3e7c, #092f7d, #003199);
    height: 5px;
    width: 100vw;
}

.overlay {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
}





/* Account */

.accBox {
    height: 100vh;
    width: 100vw;

    background-color: linear-gradient(to right, #739be4, #5480da, #5480da);
}