#content {
    position: relative;
    background-color: black;

    user-select: none;
}



#bombus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.25);

    pointer-events: none;
}

#numberBox {
    width: 234px;
    height: 54px;

    background-color: rgba(255, 0, 0, 0.200);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.25);

    margin-top: -206px;
    padding: 6px;

    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 6px;
}
.digits {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 255, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.highlight { background-color: rgba(218, 165, 32, 0.2); }

#buttonBox {
    height: 246px;
    width: 186px;

    /* background-color: rgba(255, 0, 0, 0.200); */

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    
    margin-top: 63.75px;
    padding: 6px;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 6px;
}
.buttons {
    width: 54px;
    height: 54px;

    /* background-color: rgba(0, 0, 255, 0.200); */

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons:hover  { background-color: rgba(255, 255, 255, 0.1); }
.buttons:active { background-color: rgba(0, 0, 0, 0.2); }



#sticky {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);

    pointer-events: none;
}

#stickyBox {
    width: 426px;
    height: 564px;

    background-color: rgba(255, 0, 0, 0.2);

    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-32.5%, -57%) scale(0.65);
    rotate: -14deg;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.stickyInnerBox {
    background-color: rgba(0, 0, 255, 0.2);

    width: 70%;
    user-select: none;

    font-size: 30px;
}
#stickyQbox {
    height: 15%;
    margin-top: 8%;
}
#stickyAbox {
    height: 35%;
    margin-top: 8%;
}
#stickyNbox {
    margin-top: 10%;
    height: 24%;
}
#qnr {
    position: absolute;
    bottom: 6%;
    right: 8%;
}