main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, minmax(0, 1fr)); /* Ensures uniform row height */
    gap: 5px;

    padding: 5px;
}

main div {
    border: 4px solid transparent;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main div:hover {
    background-color: rgba(255, 255, 255, 0.500);
    border: 4px solid rgba(255, 255, 255, 0.800);
}
main div:active {
    background-color: rgba(230, 224, 255, 0.5);
    cursor: pointer;
}

main div * {
    max-width: 100%;
    max-height: 100%;
}
main div img {
    padding-bottom: 5px;
}