* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
}


main {
    height: 92vh;
    width: 100vw;
    background-color: rgb(62, 200, 255);
}


footer {
    height: 8vh;
    background-color: blue;
}